<h1>Sign Up Page</h1>

<form action="/auth/signup" method="POST" id="signup-form">
	<div class="row">
		<div class="input-field col s12 m6">
			<label for="first-name">First Name</label>
			<input type="text" name="firstname" id="firstname" class="validate">
		</div>
		<div class="input-field col s12 m6">
			<label for="last-name">Last Name</label>
			<input type="text" name="lastname" id="lastname" class="validate">
		</div>
		<div class="input-field col s12 m6">
			<label for="birthday">Birth Date</label>
			<input type="date" name="dob" id="dob" class="validate">
		</div>
		<div class="input-field col s12 m6">
			<label for="photo">Photo URL</label>
			<input type="url" name="photo" class="validate">
		</div>
		<div class="input-field col s12 m6">
			<label for="email">Email</label>
			<input type="email" name="email" id="signup-email" class="validate">
		</div>
		<div class="input-field col s12 m6">
			<label for="password">Password</label>
			<input type="password" name="password" id="signup-password" class="validate">
		</div>
		<div>
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
		</div>
	</div>

</form>